#right2
{
    width: 100%;
    height: 100%;
    display: flex;
}
ul
{
    list-style: none;
}
/*左边样式*/
#addproduct_left
{
    width: 30%;
    height: 100%;
}
#goodsname li
{
    display: flex;
    align-items: flex-start;
    margin: 5px;
    height: 18px;
}
#goodsname li div
{
    width: 50%;
    margin: 2px;
}
#goodsname li input
{
    width: 50%;
    margin: 2px;
}
#goodsname li #goods_name_input
{
    width: 100%;
}
#goodsname li #goods_date_input
{
    width: 100%;
}

/*中间样式*/
#addproduct_center
{
    width: 30%;
    height: 100%;
}
#goodstype li
{
    display: flex;
    align-items: flex-start;
    margin: 2px;
}
#goodstype li .product_introduce
{
    width: 100%;
    height: 132px;
    margin: 2px;
    /*overflow:scroll;*/
}
#goodstype li input
{
    width: 100%;
    height: 25px;
    margin: 2px;
}
#goodstype li .product_introduce_input
{
    width: 100%;
    height: 88%;
    margin: 2px;
}
#addbutten
{
    background-color: #228899;
    color: #ffffff;
}

/*右边样式*/
#addproduct_right
{
    width: 30%;
    height: 100%;
    margin-right: 15px;
}
.picture_button
{
    /*background-color: #5890cf;*/
    color: #5890cf;
}
.goodspicture li .product_picture
{
    width: 100%;
    height: 186px;
    border:1px;
    margin: 2px;
    /*overflow:scroll;*/
}
.product_picture_input
{
    width: 100%;
    height: 88%;
    margin: 2px;
}